.jumbotron{
    position: relative;
    z-index:-101;
    background-image: url("https://img.elo7.com.br/product/zoom/1C5541D/painel-festa-2x1m-dragon-ball-super-decoracao-de-festa-infantil.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
  }
  h1{
    font-family: Saiyan Sans;
    color: red;
    text-shadow: 2px 2px yellow;
  }
  p.lead{
    font-family: Saiyan Sans;
    color: yellow;
    font-size: 50px;
    text-shadow: 2px 2px #FF0000;
  }